body, html{
  height: 100%;
}

body{
  background-image: url('https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;

}

.quote1{
  display: flex;
  align-self:  center;
  order: 1;
  width: 300px;
  height: 170px;
  font-family: 'Cabin Condensed';
  font-size: 20px;
  color: #000099;
}

.author1{
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;
  order: 1;
  height: 100px;
  width: 300px;
  font-family: 'Playball';
  font-size: 20px;
  margin: 5px auto;
  color: black;
}

.quote2{
  display: flex;
  align-self: center;
  order: 2;
  width: 300px;
  height: 170px;
  font-family: 'Cabin Condensed';
  font-size: 20px;
  color: #000099;
}

.author2{
  display: flex;
  align-self: flex-end;
  order: 2;
  height: 100px;
  width: 300px;
  font-family: 'Playball';
  font-size: 20px;
  margin: 5px;
  color: black;
}


.buttonContainer{
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  height: 30px;
  width: 300px;
  order: 3;

}

.moreQuotesButton{
	box-shadow: 5px 11px 0px -4px #b8c8f0;
	background-color:#f06ea9;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:1px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2c5fde;
}
.moreQuotesButton:hover {
	background-color:#246dc7;
}
.moreQuotesButton:active {
	position:relative;
	top:1px;
}


.beforeYouGoBtn{
  	box-shadow: 5px 11px 0px -4px #b8c8f0;
  	background-color:#f06ea9;
  	border-radius:10px;
  	border:1px solid #4e6096;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:12px;
  	padding:7px 25px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #2c5fde;
  }
.beforeYouGoBtn:hover {
  	background-color:#246dc7;
  }
.beforeYouGoBtn:active {
  	position:relative;
  	top:1px;
  }

/* Beginning of Book Search div */

.bookResultsContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  order: 4;
  height: 200px;
  width: 300px;
  margin: 30px auto;
  overflow: scroll;
}

.bookImgResults{
  display: flex;
  height: 5px;
}

#bookInfoBtn{
  box-shadow: 5px 11px 0px -4px #b8c8f0;
  background-color:#f06ea9;
  border-radius:10px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:10px;
  padding:3px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2c5fde;
}
#bookInfoBtn:hover {
  background-color:#246dc7;
}


.bookResultsContainer > h1{
  font-family: 'Yesteryear';
  font-size: 25px;
  color: #000099;
  width: 250px;
  height: 30px;
  margin-top: 60px;
  text-align: center;
}

form{
  margin-top: 20px;
}



#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
}

#modal-textbox {
  text-align: center;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRJb_bPg51cK_kgAYzrpJhJvHk_6UFbWoqS5k_G83GMbu9i_AQV');
  background-repeat: no-repeat;
  background-size: cover;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.8);
  color: #000099;
  font-family: 'Yesteryear';
  font-size: 35px;
}

#modal-footer{
  margin-top: 30px;
}

.close {
  justify-content: center;
  margin: 0 auto;
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}

/*=======Web Page display======== */

@media (min-width: 700px) {

  .quote1{
    display: flex;
    align-self:  center;
    flex-wrap: wrap;
    order: 1;
    width: 600px;
    height: 200px;
    font-family: 'Cabin Condensed';
    font-size: 30px;
    color: #000099;
    margin: 10px auto;
  }

  .author1{
    align-self: center;
    order: 1;
    height: 100px;
    width: 400px;
    font-family: 'Playball';
    font-size: 30px;
    margin: 5px auto;
    color: black;
  }

  .quote2{
    display: flex;
    align-self:  center;
    flex-wrap: wrap;
    order: 1;
    width: 600px;
    height: 200px;
    font-family: 'Cabin Condensed';
    font-size: 30px;
    color: #000099;
    margin: 20px auto;
    }

  .author2{
    align-self: center;
    order: 1;
    height: 100px;
    width: 400px;
    font-family: 'Playball';
    font-size: 30px;
    margin: 5px auto;
    color: black;
  }


  .buttonContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    order: 2;
    height: 30px;
    order: 3;
    margin: 80px 0;
  }

/* Saving for later version */
/* #title{
  font-size: 15px;
}

#author{
  font-size: 15px;
} */

  .bookResultsContainer{
    display: flex;
    justify-content: center;
    order: 4;
    height: 300px;
    width: 600px;
    margin: 30px auto;
  }
  /* Saving for later version */
  /* .titleResults{
    display: flex;
    height: 15px;
  }

  .authorResults{
    height: 15px;
  } */

  .bookImgResults{
    height: 15px;
    margin: 5px;
  }
  /* Saving for later version */
  /* .webAddressResults{
    height: 15px;
  } */

  .bookResultsContainer > h1{
    font-family: 'Yesteryear';
    font-size: 35px;
    color: #000099;
  }

  form{
    margin-top: 40px;
  }
}
